<html>
	<head>
		<title>Veðurfréttir</title>
	</head>
	<body>
		{% if still|length < 1 %}
			<h1>Velkominn í Veðurspá </h1>
		{% else %}
			<h1> Þín einkaspá </h1>
		<p> Á/Í {{uppl['name']}} er {{uppl['T']}} °C stiga hiti og {{uppl['W']}}
		{% endif %}




<form action="/saekja" method="POST">	
	<input value="sækja" type="submit"/> 
<h5> Veldu það sem á að sýna </h5>
<div class="checkbox"
<label>
    <input type="radio" name="still" value="T" vspace="2"> Hitastig
</label>
</div>
<div class="checkbox"
<label>
    <input type="radio" name="still" value="edit"> b
</label>
</div>



<h5>Veldu staðsetningu sem þú vilt skoða:</h5>
{#
For lykja sem keyrir í gengum stöðvar sem eru til 
staðar og birtir hnappa til að velja.
#}
	{% for lykl in lyklarnir %}
		<div class="checkbox">
			<label>
    			<input type="radio" name="stod" value={{ordabok[lykl][0]}} vspace="2"> {{lykl}}
			</label>
		</div>
	{% endfor %}
</form>
</body>
</html>
